<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <h1>Edit User {{user.id}}</h1>
    <form action="/{{user.id}}/edit" method="post">
        {% csrf_token %}
        First name: <input type="text" name="edit_fname" value={{user.first_name}}>
        Last name: <input type="text" name="edit_lname" value="{{user.last_name}}">
        Email: <input type="email" name="edit_email" value="{{user.email}}">
        <input type="submit" value="Update">
    </form>
    <a href="/users/{{user.id}}/show">Show</a>
    <a href="/users">Go Back</a>
</body>
</html>