<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <h1>Add a new user</h1>
    <form action='/process' method="post">
        {% csrf_token %}
        First Name: <input type="text" name="f_name">
        Last Name: <input type="text" name="l_name">
        Email: <input type="text" name="email">
        <input type="submit" value="Create">
    </form>

    <a href="/users">Go back</a>
</body>
</html>